.env
.env.local
.env.production
cookies.txt
.git
.gitignore
.vscode
.bcode
.playwright-cli
node_modules
storage/cache/*
!storage/cache/.gitkeep
*.log
Thumbs.db
.DS_Store
docs/
screenshots/
migrations/
